*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*Header*/

header{
    padding: 10px;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right,rgba(20, 20, 5, 0.651), rgb(20, 20, 5)), url("https://wallpapercave.com/wp/wp1856464.png");   
}

header nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header nav h1 a{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    margin-top: 5px;
}

header nav ul li a{
    padding: 0 25px 0 25px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

header nav #special{
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    background: #fff;
    border-radius: 50px;
    color: #D60404;
    outline: none;
    cursor: pointer;
}

header nav #special:hover{
    background: #D60404;
    color: #fff;
}

header .section-a{
    width: 80%;
    margin: auto;
}

header .section-a .content-a{
    text-align: right;
    width: 50%;
    float: right;
    margin-top: 180px;
}   

header .section-a .content-a h2{
    color: #fff;
    font-size: 40px;
    width: 100%;
    float: right;
    padding: 0 0 15px 0;
}

header .section-a .content-a p{
    color: #fff;
    font-size: 15px;
    padding: 0 0 15px 0;
}

header .section-a .content-a h1 span{
    color: #D60404;
}

header .section-a .content-a .btns{
    padding: 0 0 15px 0;
}

header .section-a .content-a .btns .content-btn{
    color: #fff;
    font-size: 15px;
    background: #D60404;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

header .section-a .content-a .content-btn:hover{
    background: #fff;
    color: #D60404;
}

header .section-a .content-a .content-btn i{
    padding: 0 5px 0 5px;
}

/*Main*/
/*main section b / gameplay section*/

main{
    background: #f3f3f3;
}

main .sponsor{
    width: 80%;
    height: 10vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main .sponsor .sponsor-list{
    text-align: center;
    padding: 10px;
}

main .section-b{
    width: 80%;
    height: 100vh;
    margin: auto;
}

main .section-b .content-b{
    padding: 30px 0;
}

main .section-b .content-b h1{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    letter-spacing: 25px;
}

main .section-b .content-b h1 span{
    color: #D60404;
}

main .section-b .content-b .gameplay-list{
    width: 90%;
    margin: auto;
}

main .section-b .content-b .gameplay-list .gl-a{
    width: 80%;
    height: 35vh;
    margin: 25px auto;
    display: flex;
    border-left: 5px solid #D60404;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .section-b .content-b .gameplay-list .gl-a .gl-l{
    background: blue;
    width: 50%;
}

main .section-b .content-b .gameplay-list .gl-a .gl-l img{
    width: 100%;
    height: 100%;
}

main .section-b .content-b .gameplay-list .gl-a .gl-r{
    background: rgb(236, 236, 236);
    padding: 30px;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

main .section-b .content-b .gameplay-list .gl-a .gl-r p{
    padding: 10px 0;
    font-size: 15px;
}


main .section-b .content-b .gameplay-list .gl-a .gl-r button{
    border: 2px solid #D60404;
    color: #D60404;
    width: 30%;
    padding: 10px;
    cursor: pointer;
}

main .section-b .content-b .gameplay-list .gl-a .gl-r button:hover{
    background: #D60404;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

main .section-b .content-b .gameplay-list .gl-b{
    width: 80%;
    height: 35vh;
    margin: 25px auto;
    display: flex;
    border-left: 5px solid #D60404;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .section-b .content-b .gameplay-list .gl-b .gl-l{
    background: blue;
    width: 50%;
}

main .section-b .content-b .gameplay-list .gl-b .gl-l img{
    width: 100%;
    height: 100%;
}

main .section-b .content-b .gameplay-list .gl-b .gl-r{
    background: rgb(236, 236, 236);
    padding: 30px;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

main .section-b .content-b .gameplay-list .gl-b .gl-r p{
    padding: 10px 0;
    font-size: 15px;
}

main .section-b .content-b .gameplay-list .gl-b .gl-r button{
    border: 2px solid #D60404;
    color: #D60404;
    width: 30%;
    padding: 10px;
    cursor: pointer;
}

main .section-b .content-b .gameplay-list .gl-b .gl-r button:hover{
    background: #D60404;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

/*main section c / roster section*/

main .section-c{
    height: 80vh;
    background: #EBEBE8;
}

main .section-c .content-c{
    width: 70%;
    margin: auto;
    padding: 30px 0;
}

main .section-c .content-c h1{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    letter-spacing: 25px;
}

main .section-c .content-c h1 span{
    color: #D60404;
}

main .section-c .content-c .teams-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 15px;
   padding: 20px 0 0 0;
}

main .section-c .content-c .teams-list .team{
    background: #EBEBE8;
    height: 100%;
    color: #D60404;
    display: block;
    overflow: hidden;
    transform: skew(-5deg);
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .section-c .content-c .teams-list .team h4{
    color: #000;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    transform: skew(5deg);
}

main .section-c .content-c .teams-list .team span{
    color: #D60404;
}

main .section-c .content-c .teams-list .team .img{
    width: 120%;
    transform: skewY(-5deg);
    overflow: hidden;
}

main .section-c .content-c .teams-list .team .img img{
    width: 100%;
    overflow: hidden;
}

main .section-c .content-c .teams-list .team .content{
    padding: 15px;
}

main .section-c .content-c .teams-list .team .content p{
    color: rgb(109, 109, 109);
    text-align: right;
    transform: skew(5deg);
}

main .section-c .content-c .teams-list .team .content .content-btns{
    width: 100%;
    display: flex;
}

main .section-c .content-c .teams-list .team .content .content-btns button{
    padding: 8px;
    border: 2px solid #D60404;
    cursor: pointer;
    background: transparent;
    outline: none;
    width: 50%;
    color: #D60404;
    margin: 5px 2px auto;
}

main .section-c .content-c .teams-list .team .content #highlight{
    padding: 8px;
    background: #D60404;
    outline: none;
    width: 50%;
    color: #fff;
    margin: 5px 2px auto;
}

/*main section d / event section*/

main .section-d{
    height: 120vh;
}

main .section-d .content-d{
    width: 70%;
    margin: auto;
    padding: 30px 0;
}

main .section-d .content-d h1{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    letter-spacing: 20px;
}

main .section-d .content-d h1 span{
    color: #D60404;
}


main .section-d .content-d .events-list{
    width: 80%;
    padding: 10px;
    display: block;
    margin: auto;
}

main .section-d .content-d .events-list .event{
    background: #EBEBE8;
    border-left: 4px solid #D60404;
    margin: 10px 0 10px 0;
    display: flex;
    line-height: 40px;
}

main .section-d .content-d .events-list .event #date{
    padding: 10px;
    width: 25%;
}

main .section-d .content-d .events-list .event #description{
    width: 75%;
    padding: 10px;
}

main .section-d .content-d .events-list button{
    background: #D60404;
    color: #fff;
    float: right;
    padding: 8px 10px 8px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*main section e / about section*/

main .section-e{
    height: 50vh;
    overflow: hidden;
    background: #EBEBE8;
}

main .section-e .content-e{
    width: 80%;
    margin: auto;
}

main .section-e .content-e h1{
    color: #000;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    letter-spacing: 20px;
}

main .section-e .content-e .about-us{
    display: flex;
}

main .section-e .content-e .about-us .logo{
    padding: 10px;
}

main .section-e .content-e .about-us .logo img{
    width: 150%;
    margin-top: -225px;
    opacity: .2;
}

main .section-e .content-e .about-us .context{
    padding: 10px;
}

main .section-e .content-e .about-us .context p{
    text-indent: 40px;
}

/*main section f / contact section*/

main .section-f{
    height: 70vh;
}

main .section-f .content-f{
    width: 80%;
    margin: auto;
}

main .section-f .content-f h1{
    color: #000;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    letter-spacing: 20px;
}

main .section-f .content-f .contact{
    display: block;
    width: 50%;
    margin: auto;
}

main .section-f .content-f .contact label{
    font-size: 19px;
    display: block;
    padding: 0 0 5px 0;
}

main .section-f .content-f .contact label span{
    color: red;
}

main .section-f .content-f button{
    width: 30%;
    float: right;
    background: #D60404;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    padding: 10px;
}


main .section-f .content-f .contact #a{
    font-size: 15px;
    width: 100%;
    padding: 10px;
    display: block;
    outline: none;
}


main .section-f .content-f .contact #b{
    font-size: 15px;
    width: 100%;
    line-height: 90px;
    padding: 10px;
    display: block;
    outline: none;
}

/*footer*/

footer{
    background: #141414;
    height: 20vh;
}

footer .footer{
    width: 80%;
    margin: auto;
    padding: 15px;
    color: #fff;
}

footer .footer #icons{
    width: 25%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

footer .footer #icons a{
    text-decoration: none;
    color: #fff;
}

footer .footer #end{
    padding: 10px;
    text-align: center;
}